
/*
Bootstrap CSS customization
*/

.panel-group {
    margin-bottom: 0px;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0px;
}

.panel {
    margin-bottom: 5px;
}

.panel-heading {
    padding: 5px;
}

.panel-body {
    padding: 5px;
    background-color: #C1D1DD;
}

.table {
    margin-bottom: 0px;
}

.table .table {
    background-color: inherit;
}

.table>tbody>tr>td {
    border-top: 0px;
}

.table-condensed>tbody>tr>td {
    padding: 0px;
}

/*
.panel-default {
    border-color: #7695AD;
}
*/

.panel-default>.panel-heading {
    color: #ffffff;
    background-color: #577C98;
    border-color: #577C98;
}

.label-default {
    display: inline-block;
}

/*
Angular JS UI Google Maps
*/

.angular-google-map-container {
    height: 100px; /* initial value */
}

/*
Customization
*/

html, body {
    height: 100%;
}

#container {
    height: 100%;
}

#locationPicker {
    height: 100px; /* initial value */
    width: 100%;
}

.no-margin {
    margin: 0px;
}

.row-header {
    color: #ffffff;
    background-color: #7695AD;
    padding: 5px;
}

.row-header a {
    color: inherit;
}

.row-body {
    padding: 5px;
}

.row-past {
    color: gray;
}

.row-current {
    font-weight: bold;
}

.link {
    cursor: pointer;
}
.label-gmap {
    font-size: 10px;
}
