
/*
Bootstrap CSS customization
*/

.panel-group {
    margin-bottom: 0px;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0px;
}

.panel {
    margin-bottom: 5px;
}

.panel-heading {
    padding: 5px;
}

.panel-body {
    padding: 5px;
    background-color: #C1D1DD;
}

.table {
    margin-bottom: 0px;
}

.table .table {
    background-color: inherit;
}

.table>tbody>tr>td {
    border-top: 0px;
}

.table-condensed>tbody>tr>td {
    padding: 0px;
}

/*
.panel-default {
    border-color: #7695AD;
}
*/

.panel-default>.panel-heading {
    color: #ffffff;
    background-color: #577C98;
    border-color: #577C98;
}

.label-default {
    display: inline-block;
}

/*
 * Angular UI Bootstrap
 */

.dropdown-menu {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*
 * Angular material
 */

md-list-item.md-2-line.md-with-secondary .md-list-item-text {
    margin-right: 48px;
}

md-list-item.md-2-line>.md-no-style .md-list-item-text h3 {
    line-height: normal;
}

md-input-container.toolbar {
    padding-bottom: 2px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.md-button.compact {
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 4px;
    margin-right: 4px;
    min-width: inherit;
    /*min-height: inherit;*/
    /*line-height: inherit;*/
}

.md-icon-button.compact {
    width: 32px;
    height: 32px;
    min-height: 32px;
    line-height: 32px;
    padding: 0px;
    margin: 0px;
}

.floating-toolbar {
    position: absolute;
    z-index: 1;
}

.floating-toolbar.top {
    top: 0px;
    left: 0px;
    right: 0px;
}

.floating-toolbar.top-left {
    top: 0px;
    left: 0px;
}

.floating-toolbar.bottom-left {
    bottom: 0px;
    left: 0px;
}

md-whiteframe {
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.floating-toolbar > md-whiteframe {
    padding-top: 0px;
    padding-bottom: 0px;
}

.dropdown-menu > md-whiteframe {
    margin-left: 0px;
    margin-right: 0px;
}

md-whiteframe.no-padding {
    padding: 0px;
}

/*
Material icons
*/

/*Rules for sizing the icon.*/
.material-icons.md-18 { font-size: 18px; width: auto; height: auto; }
.material-icons.md-24 { font-size: 24px; width: auto; height: auto; }
.material-icons.md-36 { font-size: 36px; width: auto; height: auto; }
.material-icons.md-48 { font-size: 48px; width: auto; height: auto; }

/*Rules for using icons as black on a light background.*/
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/*Rules for using icons as white on a dark background.*/
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-color-inherit { color: inherit; }

/*
Angular JS UI Google Maps
*/

.angular-google-map-container {
    height: 100px; /* initial value */
}

/*
Customization
*/

html, body {
    height: 100%;
}

#container {
    height: 100%;
}

#locationPicker {
    height: 100px; /* initial value */
    width: 100%;
}

.no-margin {
    margin: 0px;
}

.row-header {
    color: #ffffff;
    background-color: #7695AD;
    padding: 5px;
}

.row-header a {
    color: inherit;
}

.row-body {
    padding: 5px;
}

.row-past {
    color: gray;
}

.row-current {
    font-weight: bold;
}

.link {
    cursor: pointer;
}

.label-gmap {
    font-size: 10px;
}

.label-route {
    margin: 2px;
}

.nowrap-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.whiteframe-heading {
    padding: 5px 10px;
    color: rgba(255,255,255,0.87);
    background-color: rgb(63,81,181);
}

.whiteframe-heading-icon {
    margin: 10px;
}

.whiteframe-body {
    padding: 5px 10px;
}

.whiteframe-body .route-group {
    padding: 10px 5px;
    margin: 5px 0px;
    background-color: #f0f0f0;
}

.whiteframe-body .route-group td {
    vertical-align: top;
}

.whiteframe-body .route-group .route-group-header tr > td:first-child {
    min-width: 45px;
}

.whiteframe-body .route-group .route-group-body {
    padding-top: 15px;
}

.whiteframe-body .route-group .route-group-body table {
    width: 100%;
}

.whiteframe-body .route-group .route-group-body table td {
    width: 50%;
}

.whiteframe-body md-list-item .route-short-name {
    min-width: 45px;
}

.whiteframe-body md-list-item .route-stop-time {
    min-width: 75px;
}

.whiteframe-body md-list-item .route-stop-time-countdown {
    min-width: 40px;
}
