
/*
 * Angular UI Bootstrap
 */

.dropdown-menu {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*
 * Angular material
 */

md-list-item.md-2-line.md-with-secondary .md-list-item-text {
    margin-right: 48px;
}

md-list-item.md-2-line>.md-no-style .md-list-item-text h3 {
    line-height: normal;
}

md-input-container.toolbar {
    padding-bottom: 2px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.md-button.compact {
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 4px;
    margin-right: 4px;
    min-width: inherit;
    /*min-height: inherit;*/
    /*line-height: inherit;*/
}

.md-icon-button.compact {
    width: 32px;
    height: 32px;
    min-height: 32px;
    line-height: 32px;
    padding: 0px;
    margin: 0px;
}

.floating-toolbar {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.floating-toolbar.top {
    top: 0px;
    left: 0px;
    right: 0px;
}

.floating-toolbar.top-left {
    top: 0px;
    left: 0px;
}

.floating-toolbar.bottom-left {
    bottom: 0px;
    left: 0px;
}

md-whiteframe {
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.floating-toolbar > md-whiteframe {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 48px;
    pointer-events: auto;
}

.dropdown-menu > md-whiteframe {
    margin: 0px;
}

md-whiteframe.no-padding {
    padding: 0px;
}

.timepicker md-input-container {
    padding: 2px 2px 2px;
}

.timepicker md-input-container input[type=text] {
    text-align: center;
    width: 25px;
}

.timepicker td {
    text-align: center;
    vertical-align: middle;
}

md-content.no-overflow {
    overflow-y: hidden;
}

/*
Material icons
*/

/*Rules for sizing the icon.*/
.material-icons.md-18 { font-size: 18px; width: auto; height: auto; }
.material-icons.md-24 { font-size: 24px; width: auto; height: auto; }
.material-icons.md-36 { font-size: 36px; width: auto; height: auto; }
.material-icons.md-48 { font-size: 48px; width: auto; height: auto; }

/*Rules for using icons as black on a light background.*/
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/*Rules for using icons as white on a dark background.*/
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-color-inherit { color: inherit; }

/*
Angular JS UI Google Maps
*/

#map_canvas {
    position: relative;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/*
Customization
*/

ui-view {
    /* Angular Material's layout-fill */
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.progress-title {
    margin-bottom: 10px;
}

.label {
    display: inline-block;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #777;
    margin: 2px;
}

.label-gmap {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 10px;
}

.label-gmap.current {
    background-color: #5cb85c;
}

.row-past {
    color: gray;
}

.row-current {
    font-weight: bold;
}

.link {
    cursor: pointer;
}

.nowrap-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.whiteframe-heading {
    padding: 5px 10px;
    color: rgba(255,255,255,0.87);
    background-color: rgb(63,81,181);
}

.whiteframe-heading-icon {
    margin: 10px;
}

.whiteframe-title {
    padding: 5px 10px;
}

.whiteframe-title .md-title {
    line-height: 35px;
}

.whiteframe-body {
    padding: 5px 10px;
}

.whiteframe-body.no-padding {
    padding: 0px;
}

.whiteframe-footer {
    padding: 5px 10px;
}

@media (max-width: 599px) {

    .whiteframe-body {
        padding-left: 5px;
        padding-right: 5px;
    }

    .whiteframe-body md-list-item {
        min-height: 36px;
    }

    .whiteframe-body md-list-item .md-list-item-inner {
        min-height: 36px;
    }

    .whiteframe-body md-list-item button {
        line-height: initial;
        padding-left: 2px;
        padding-right: 2px;
    }

}


/* Timetable */

.whiteframe-body .route-group {
    padding: 10px 5px;
    margin: 5px 0px;
    background-color: #f0f0f0;
}

.whiteframe-body .route-group td {
    vertical-align: top;
}

.whiteframe-body .route-group .route-group-header tr > td:first-child {
    min-width: 45px;
}

.whiteframe-body .route-group .route-group-body {
    padding-top: 15px;
}

.whiteframe-body .route-group .route-group-body table {
    width: 100%;
}

.whiteframe-body .route-group .route-group-body table td {
    width: 50%;
}


/* Schedule */

.whiteframe-body md-list-item .route-short-name {
    min-width: 45px;
}

.whiteframe-body md-list-item .route-stop-time {
    min-width: 75px;
    text-align: end;
}

.whiteframe-body md-list-item .route-stop-time-countdown {
    min-width: 40px;
    text-align: end;
}

@media (max-width: 599px) {

    .whiteframe-body md-list-item .route-short-name {
        min-width: 40px;
    }

    .whiteframe-body md-list-item .route-stop-time {
        min-width: 65px;
    }

}


/* Trip */

.whiteframe-body md-list-item .trip-vehicle {
    padding: .1em .3em .1em;
    margin: 2px 0px;
}

.whiteframe-body md-list-item .trip-stop-time-diff {
    min-width: 25px;
}

.whiteframe-body md-list-item .trip-stop-time {
    min-width: 75px;
    text-align: end;
}

.whiteframe-body md-list-item .trip-stop-time-countdown {
    min-width: 40px;
    text-align: end;
}

@media (max-width: 599px) {

    .whiteframe-body md-list-item .trip-stop-time {
        min-width: 65px;
    }

}
