<!DOCTYPE html>
<html>
    <head lang="en">
        <title>GyorsFutar</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google Maps JavaScript API with libraries -->
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry,places"></script>

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <!-- AngularJS -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

        <!-- Angular UI Router -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

        <!-- Angular UI Bootstrap -->
        <script src="lib/ui-bootstrap-tpls-0.12.1.min.js"></script>

        <!-- Angular UI Google Maps -->
        <script src="lib/lodash.min.js"></script>
        <script src="lib/angular-google-maps.min.js"></script>

        <!-- ngStorage -->
        <script src="lib/ngStorage.min.js"></script>

        <!-- Geolocator Javascript Library -->
        <script src="lib/geolocator.min.js"></script>

        <!-- JQuery Location Picker plugin -->
        <!-- Depends on Google Maps JavaScript API -->
        <script src="lib/locationpicker.jquery.min.js"></script>

        <link rel="stylesheet" href="app.css">
    </head>
    <body>
        <div id="container" class="container-fluid" data-ng-app="ngAppGyorsFutar" data-ng-controller="ngControllerGyorsFutar">

            <!-- Alert Error -->
            <alert ng-repeat="message in errorMessages" data-ng-cloak type="danger" close="closeErrorMessage($index)">{{message}}</alert>

            <!-- Alert Success -->
            <alert ng-repeat="message in successMessages" data-ng-cloak type="success" close="closeSuccessMessage($index)">{{message}}</alert>

            <!-- Root UI view -->
            <div ui-view></div>

        </div>

        <script src="components/location/location.js"></script>
        <script src="components/location/location-service.js"></script>

        <script src="components/bkk-futar/bkk-futar.js"></script>
        <script src="components/bkk-futar/bkk-futar-service.js"></script>

        <script src="components/location-detection/location-detection.js"></script>
        <script src="components/location-detection/location-detection-controller.js"></script>

        <script src="components/recent-location-list/recent-location-list.js"></script>
        <script src="components/recent-location-list/recent-location-list-controller.js"></script>

        <script src="components/location-picker/location-picker.js"></script>
        <script src="components/location-picker/location-picker-controller.js"></script>
        <script src="components/location-picker/location-picker-directive.js"></script>

        <script src="components/timetable/timetable.js"></script>
        <script src="components/timetable/timetable-service.js"></script>
        <script src="components/timetable/timetable-controller.js"></script>

        <script src="components/trip/trip.js"></script>
        <script src="components/trip/trip-controller.js"></script>
        <script src="components/trip/trip-service.js"></script>

        <script src="components/schedule/schedule.js"></script>
        <script src="components/schedule/schedule-controller.js"></script>
        <script src="components/schedule/schedule-service.js"></script>

        <script src="components/map/map.js"></script>
        <script src="components/map/map-controller.js"></script>
        <script src="components/map/map-service.js"></script>

        <script src="app.js"></script>
        <script src="app-config.js"></script>
        <script src="app-directive.js"></script>
        <script src="app-controller.js"></script>
        <script src="app-service.js"></script>

    </body>
</html>
