<!DOCTYPE html>
<html>
    <head lang="en">
        <title>GyorsFutar</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <!-- AngularJS -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

        <!-- Angular UI Bootstrap -->
        <script src="lib/ui-bootstrap-tpls-0.13.0.min.js"></script>

        <!-- ngStorage -->
        <script src="lib/ngStorage.min.js"></script>

        <!-- Google Maps JavaScript API Geometry Library -->
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry,places"></script>

        <!-- Geolocator Javascript Library -->
        <script src="lib/geolocator.min.js"></script>

        <!-- JQuery Location Picker plugin -->
        <script src="lib/locationpicker.jquery.min.js"></script>

        <link rel="stylesheet" href="custom.css">
    </head>
    <body>
        <div id="container" class="container-fluid" data-ng-app="ngAppGyorsFutar" data-ng-controller="ngControllerGyorsFutar">

            <!-- Alert Success -->
            <div id="idAlertSuccess" class="alert alert-success" data-ng-cloak data-ng-show="successMessage != undefined">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> {{successMessage}}
            </div>

            <!-- Alert Error -->
            <div id="idAlertError" class="alert alert-danger" data-ng-cloak data-ng-show="errorMessage != undefined">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Failed!</strong> {{errorMessage}}
            </div>

            <!-- Toolbar -->
            <div class="panel panel-default" data-ng-cloak data-ng-if="uiMode != undefined">

                <!-- For Location Get -->
                <div class="panel-heading" data-ng-cloak data-ng-if="uiMode == UI_MODE_LOCATION_GET">
                    <h4 class="panel-title">Detecting location...</h4>
                </div>

                <!-- For Location List -->
                <div class="panel-heading" data-ng-cloak data-ng-if="uiMode == UI_MODE_LOCATION_LIST">
                    <h4 class="panel-title">Recent location list</h4>
                </div>

                <!-- For Location Picker -->
                <div class="panel-heading" data-ng-cloak data-ng-if="uiMode == UI_MODE_LOCATION_PICKER">
                    <div class="row">
                        <div class="col-sm-6" style="margin-top: 5px; margin-bottom: 5px;">
                            <input id="locationPicker-address" type="text" class="form-control" size="40" readonly>
                        </div>
                        <div class="col-sm-6" style="margin-top: 5px; margin-bottom: 5px;">
                            <button id="locationPickerButtonOk" type="submit" class="btn btn-default">Ok</button>
                            <span class="pull-right">
                                <span class="btn-group">
                                    <button type="button" class="btn btn-default" data-ng-click="onLocationPickerRadiusChange(250)">250m</button>
                                    <button type="button" class="btn btn-default" data-ng-click="onLocationPickerRadiusChange(500)">500m</button>
                                    <button type="button" class="btn btn-default" data-ng-click="onLocationPickerRadiusChange(750)">750m</button>
                                    <button type="button" class="btn btn-default" data-ng-click="onLocationPickerRadiusChange(1000)">1000m</button>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- For Timetable Build -->
                <div class="panel-heading" data-ng-cloak data-ng-if="uiMode == UI_MODE_TIMETABLE_BUILD">
                    <h4 class="panel-title">Building timetable...</h4>
                </div>

                <!-- For Timetable Show -->
                <div class="panel-heading" data-ng-cloak data-ng-if="uiMode == UI_MODE_TIMETABLE_SHOW">
                    <div class="row">
                        <div class="col-sm-6" style="margin-top: 5px; margin-bottom: 5px;">
                            <input type="text" class="form-control" size="40" readonly value="{{geoPosition.formattedAddress}}">
                        </div>
                        <div class="col-sm-6" style="margin-top: 5px; margin-bottom: 5px;">
                            <span class="btn-group">
                                <button type="button" class="btn btn-default" data-ng-click="onLocationRefreshClick(LOCATION_MODE_AUTO)">
                                    <span class="glyphicon glyphicon-screenshot"></span>
                                </button>
                                <button type="button" class="btn btn-default" data-ng-click="onLocationRefreshClick(LOCATION_MODE_LIST)">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                </button>
                                <button type="button" class="btn btn-default" data-ng-click="onLocationRefreshClick(LOCATION_MODE_MAP)">
                                    <span class="glyphicon glyphicon-picture"></span>
                                </button>
                            </span>
                            <span class="pull-right">
                                <span class="time-countdown" data-source-time="{{timetableBuildTime.getTime()}}"></span>
                                <button type="button" class="btn btn-default" data-ng-click="onTimetableRefreshClick()">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Location List -->
            <div class="panel panel-default" data-ng-cloak data-ng-if="uiMode == UI_MODE_LOCATION_LIST">
                <div class="panel-body">
                    <div class="btn-group-vertical btn-block">
                        <button type="button" class="btn btn-default" data-ng-repeat="location in storedLocations" data-ng-if="!$last" data-ng-click="location.callback()">
                            <span>{{location.formattedAddress}}</span>
                        </button>
                    </div>
                    <button type="button" class="btn btn-default btn-block" data-ng-click="storedLocations[storedLocations.length - 1].callback()">
                        <span>Location Picker</span>
                    </button>
                </div>
            </div>

            <!-- Location Picker -->
            <div id="locationPickerPanel" class="panel panel-default" data-ng-cloak data-ng-if="uiMode == UI_MODE_LOCATION_PICKER">
                <input type="hidden" id="locationPicker-latitude">
                <input type="hidden" id="locationPicker-longitude">
                <input type="hidden" id="locationPicker-radius">

                <div id="locationPicker" class="panel-body"></div>
            </div>

            <!-- Timetable -->
            <accordion close-others="true" class="" data-ng-cloak data-ng-if="uiMode == UI_MODE_TIMETABLE_SHOW">
                <accordion-group is-open="parentStation.isExpanded" data-ng-repeat="parentStation in timetablePresentation.parentStations">
                    <accordion-heading>
                        <div class="row">
                            <div class="col-xs-10 text-center">
                                <span>{{parentStation.name}}</span>
                                <span data-ng-if="!parentStation.isExpanded" data-ng-repeat="routeName in parentStation.routeNames"><span class="label label-default">{{routeName}}</span>&nbsp;</span>
                            </div>
                            <div class="col-xs-2">
                                <div class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': parentStation.isExpanded, 'glyphicon-chevron-right': !parentStation.isExpanded}"></div>
                            </div>
                        </div>
                    </accordion-heading>
                    <table class="table table-condensed">
                        <tbody>
                            <tr data-ng-repeat="routeGroup in parentStation.routeGroups">

                                <!-- Collapsed -->
                                <td class="row" data-ng-if="!routeGroup.isGroup || (routeGroup.isGroup && !routeGroup.isExpanded)">
                                    <div class="row-header">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-sm-1 col-xs-6">
                                                        <h3 class="no-margin text-left">
                                                            <span data-ng-repeat="name in routeGroup.names"><span class="label label-default">{{name}}</span>&nbsp;</span>
                                                        </h3>
                                                    </div>
                                                    <div class="col-sm-1 col-sm-push-10 col-xs-6">
                                                        <a href="javascript:void(0)" data-ng-if="routeGroup.isGroup && !routeGroup.isExpanded" data-ng-click="routeGroup.isExpanded=!routeGroup.isExpanded">
                                                            <div class="pull-right glyphicon glyphicon-chevron-right"></div>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-10 col-sm-pull-1 col-xs-12">
                                                        <h5 class="no-margin text-center">
                                                            <div data-ng-repeat="description in routeGroup.descriptions">{{description}}</div>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row-body">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div data-ng-if="routeGroup.tripLeft != undefined">
                                                    <h5 class="no-margin text-center">
                                                        <span class="label label-default" data-ng-if="routeGroup.isGroup">{{routeGroup.tripLeft.routeName}}</span>
                                                        <span><strong>{{routeGroup.tripLeft.name}}</strong></span>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div data-ng-if="routeGroup.tripRight != undefined">
                                                    <h5 class="no-margin text-center">
                                                        <span class="label label-default" data-ng-if="routeGroup.isGroup">{{routeGroup.tripRight.routeName}}</span>
                                                        <span><strong>{{routeGroup.tripRight.name}}</strong></span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div data-ng-if="routeGroup.tripLeft != undefined">
                                                    <h6 class="no-margin text-center">{{routeGroup.tripLeft.stopTimeString}}</h6>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div data-ng-if="routeGroup.tripRight != undefined">
                                                    <h6 class="no-margin text-center">{{routeGroup.tripRight.stopTimeString}}</h6>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div data-ng-if="routeGroup.tripLeft != undefined">
                                                    <h5 class="no-margin text-center">
                                                        <strong class="time-countdown" data-target-time="{{routeGroup.tripLeft.stopTime.getTime()}}"></strong>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div data-ng-if="routeGroup.tripRight != undefined">
                                                    <h5 class="no-margin text-center">
                                                        <strong class="time-countdown" data-target-time="{{routeGroup.tripRight.stopTime.getTime()}}"></strong>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>

                                <!-- Expanded -->
                                <td data-ng-if="routeGroup.isGroup && routeGroup.isExpanded">
                                    <table class="table table-condensed">
                                        <tbody>
                                            <tr data-ng-repeat="route in routeGroup.routes">
                                                <td class="row">
                                                    <div class="row-header">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="row">
                                                                    <div class="col-sm-1 col-xs-6">
                                                                        <h3 class="no-margin text-left">
                                                                            <span class="label label-default">{{route.name}}</span>
                                                                        </h3>
                                                                    </div>
                                                                    <div class="col-sm-1 col-sm-push-10 col-xs-6">
                                                                        <a href="javascript:void(0)" data-ng-click="routeGroup.isExpanded=!routeGroup.isExpanded">
                                                                            <div class="pull-right glyphicon glyphicon-chevron-down"></div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-sm-10 col-sm-pull-1 col-xs-12">
                                                                        <h5 class="no-margin text-center">
                                                                            <div>{{route.description}}</div>
                                                                        </h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row-body">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div data-ng-if="route.tripLeft != undefined">
                                                                    <h5 class="no-margin text-center"><strong>{{route.tripLeft.name}}</strong></h5>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div data-ng-if="route.tripRight != undefined">
                                                                    <h5 class="no-margin text-center"><strong>{{route.tripRight.name}}</strong></h5>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div data-ng-if="route.tripLeft != undefined">
                                                                    <h6 class="no-margin text-center">{{route.tripLeft.stopTimeString}}</h6>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div data-ng-if="route.tripRight != undefined">
                                                                    <h6 class="no-margin text-center">{{route.tripRight.stopTimeString}}</h6>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div data-ng-if="route.tripLeft != undefined">
                                                                    <h5 class="no-margin text-center">
                                                                        <strong class="time-countdown" data-target-time="{{route.tripLeft.stopTime.getTime()}}"></strong>
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div data-ng-if="route.tripRight != undefined">
                                                                    <h5 class="no-margin text-center">
                                                                        <strong class="time-countdown" data-target-time="{{route.tripRight.stopTime.getTime()}}"></strong>
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </accordion-group>
            </accordion>

        </div>

        <script src="utils.js"></script>
        <script src="module.js"></script>
        <script src="controller.js"></script>
    </body>
</html>
