<!DOCTYPE html>
<html>
    <head lang="en">
        <title>GyorsFutar</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <!-- AngularJS -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

        <!-- Google Maps JavaScript API Geometry Library -->
        <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>

        <!-- javascript-mobile-desktop-geolocation -->
        <script src="lib/geoPosition.js"></script>

        <link rel="stylesheet" href="custom.css">
    </head>
    <body>
        <div class="container-fluid" data-ng-app="ngAppGyorsFutar" data-ng-controller="ngControllerGyorsFutar">

            <div id="idAlertSuccess" class="alert alert-success" data-ng-cloak data-ng-show="successMessage != undefined">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> {{successMessage}}
            </div>

            <div id="idAlertError" class="alert alert-danger" data-ng-cloak data-ng-show="errorMessage != undefined">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Failed!</strong> {{errorMessage}}
            </div>

            <div class="panel-group" data-ng-cloak data-ng-show="timetablePresentation != undefined">
                <div class="panel panel-default" data-ng-repeat="parentStation in timetablePresentation.parentStations">

                    <div class="panel-heading">
                        <h1 class="text-center">{{parentStation.name}}</h1>
                    </div>

                    <div class="panel-body">
                        <table class="table table-condensed">
                            <tbody>

                                <tr data-ng-repeat="routeGroup in parentStation.routeGroups" data-ng-class="routeGroup.isGroup ? 'table-row-group' : 'table-row'">

                                    <td width="25%" data-ng-if="!routeGroup.isGroup || (routeGroup.isGroup && routeGroup.isCollapsed)">
                                        <div data-ng-if="routeGroup.tripLeft != undefined">
                                            <h3 class="text-center">
                                                <span data-ng-if="routeGroup.isGroup"><span class="label label-default">{{routeGroup.tripLeft.routeName}}</span>&nbsp;</span>
                                                <span>{{routeGroup.tripLeft.name}}</span>
                                            </h3>
                                            <h4 class="text-center">{{routeGroup.tripLeft.stopTimeString}}</h4>
                                            <h5 class="text-center stop-time-countdown" data-route-trip-stopTime="{{routeGroup.tripLeft.stopTime.getTime()}}"></h5>
                                        </div>
                                    </td>
                                    <td width="50%" data-ng-if="!routeGroup.isGroup || (routeGroup.isGroup && routeGroup.isCollapsed)">
                                        <h2 class="text-center">{{routeGroup.name}}</h2>
                                        <h2 class="text-center">
                                            <span data-ng-repeat="name in routeGroup.names"><span class="label label-default">{{name}}</span>&nbsp;</span>
                                        </h2>
                                        <h3 class="text-center" data-ng-repeat="description in routeGroup.descriptions">
                                            <span data-ng-if="routeGroup.isGroup"><span class="label label-default">{{routeGroup.names[$index]}}</span>&nbsp;</span>
                                            <span>{{description}}</span>
                                        </h3>
                                        <button type="button" class="btn btn-default btn-block" data-ng-if="routeGroup.isGroup && routeGroup.isCollapsed" data-ng-click="routeGroup.isCollapsed=false">&lt;&lt; EXPAND &gt;&gt;</button>
                                    </td>
                                    <td width="25%" data-ng-if="!routeGroup.isGroup || (routeGroup.isGroup && routeGroup.isCollapsed)">
                                        <div data-ng-if="routeGroup.tripRight != undefined">
                                            <h3 class="text-center">
                                                <span data-ng-if="routeGroup.isGroup"><span class="label label-default">{{routeGroup.tripRight.routeName}}</span>&nbsp;</span>
                                                <span>{{routeGroup.tripRight.name}}</span>
                                            </h3>
                                            <h4 class="text-center">{{routeGroup.tripRight.stopTimeString}}</h4>
                                            <h5 class="text-center stop-time-countdown" data-route-trip-stopTime="{{routeGroup.tripRight.stopTime.getTime()}}"></h5>
                                        </div>
                                    </td>

                                    <td colspan="3" width="100%" data-ng-if="routeGroup.isGroup && !routeGroup.isCollapsed">
                                        <table class="table table-condensed">
                                            <tbody>

                                                <tr class="table-row-group-item" data-ng-repeat="route in routeGroup.routes">
                                                    <td width="25%">
                                                        <div data-ng-if="route.tripLeft != undefined">
                                                            <h3 class="text-center">{{route.tripLeft.name}}</h3>
                                                            <h4 class="text-center">{{route.tripLeft.stopTimeString}}</h4>
                                                            <h5 class="text-center stop-time-countdown" data-route-trip-stopTime="{{route.tripLeft.stopTime.getTime()}}"></h5>
                                                        </div>
                                                    </td>
                                                    <td width="50%">
                                                        <h2 class="text-center"><span class="label label-default">{{route.name}}</span></h2>
                                                        <h3 class="text-center">{{route.description}}</h3>
                                                    </td>
                                                    <td width="25%">
                                                        <div data-ng-if="route.tripRight != undefined">
                                                            <h3 class="text-center">{{route.tripRight.name}}</h3>
                                                            <h4 class="text-center">{{route.tripRight.stopTimeString}}</h4>
                                                            <h5 class="text-center stop-time-countdown" data-route-trip-stopTime="{{route.tripRight.stopTime.getTime()}}"></h5>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr class="table-row-group-item">
                                                    <td colspan="3" width="100%">
                                                        <button type="button" class="btn btn-default btn-block" data-ng-click="routeGroup.isCollapsed=true">&gt;&gt; COLLAPSE &lt;&lt;</button>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>

        <script src="module.js"></script>
        <script src="controller.js"></script>
    </body>
</html>
