
<!-- Progress -->
<div layout="column" layout-fill layout-align="center center" data-ng-if="isBuilding && (schedulePresentation == undefined)" data-ng-cloak>
    <div>
        <div class="md-title progress-title">Building schedule</div>
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
</div>

<md-content layout="column" data-ng-if="schedulePresentation != undefined" gyf-countdown-container data-ng-cloak>

    <!-- Toolbar -->
    <gyf-sticky>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>Schedule</span>
                <span flex></span>
            </div>

            <md-divider></md-divider>

            <gyf-collapsible>
                <div class="md-body-1 info-section" layout="row" layout-align="start center" layout-wrap>

                    <!-- Address -->
                    <div layout="row" layout-align="start center" flex-sm="100" flex-gt-sm="50">
                        <md-icon class="material-icons">place</md-icon>
                        <span class="nowrap-ellipsis" flex>{{location.formattedAddress}}</span>
                    </div>

                    <!-- Base time -->
                    <div class="basetime">
                        <span class="md-subhead" data-ng-if="schedulePresentation.baseTime == undefined" data-gyf-countdown></span>
                        <span class="md-subhead" data-ng-class="{'past': schedulePresentation.baseTimeType == TIMETABLE.BASE_TIME_TYPE_PAST}" data-ng-if="schedulePresentation.baseTime != undefined">{{schedulePresentation.baseTime | date: 'mediumTime'}}</span>
                    </div>

                    <!-- Spacer -->
                    <div flex></div>

                    <!-- Refresh -->
                    <div layout="row" layout-align="start center" data-ng-switch="isBuilding">
                        <span data-gyf-countdown data-source-time='schedulePresentation.buildTime'></span>
                        <div data-ng-switch-when="false">
                            <md-button class="md-icon-button compact" aria-label="Refresh" data-ng-click="onScheduleRefreshClick()">
                                <md-icon class="material-icons">refresh</md-icon>
                            </md-button>
                        </div>
                        <div class="refresh-progress-container" data-ng-switch-when="true">
                            <md-progress-circular class="refresh-progress md-color-inherit" md-mode="indeterminate" md-diameter="18"></md-progress-circular>
                        </div>
                    </div>

                </div>
            </gyf-collapsible>
        </md-toolbar>
    </gyf-sticky>

    <!-- Schedule -->
    <md-content class="md-body-1" layout="column">

        <md-whiteframe class="md-whiteframe-1dp" layout="column">

            <div class="whiteframe-title" layout="row" layout-align="start center" layout-wrap>
                <div hide-sm>
                    <md-icon class="material-icons md-48 whiteframe-heading-icon">directions</md-icon>
                </div>
                <div layout="column" flex="auto">
                    <div class="md-title">{{schedulePresentation.stopName}}</div>
                    <div class="md-title" layout="row" layout-align="start start" hide-sm>
                        <span class="label" data-ng-style="{'color': route.textColor, 'background-color': route.color}" data-ng-repeat="route in schedulePresentation.routes">{{route.shortName}}</span>
                    </div>
                </div>
                <div class="md-title" layout="row" layout-align="start start" hide-gt-sm>
                    <span class="label" data-ng-style="{'color': route.textColor, 'background-color': route.color}" data-ng-repeat="route in schedulePresentation.routes">{{route.shortName}}</span>
                </div>
            </div>

            <div class="whiteframe-body" layout="column">
                <md-list>
                    <md-list-item data-ng-if="schedulePresentation.visibleStopTimeLowerIndex > 0" ng-click="onStopTimeMoreOlderClick()">
                        <div layout="row" layout-align="center center" layout-fill>
                            <md-icon class="material-icons">expand_less</md-icon>
                        </div>
                    </md-list-item>
                    <md-list-item
                            data-ng-class="{'row-past': (stopTime.stopTime < schedulePresentation.buildTime)}"
                            ng-repeat="stopTime in schedulePresentation.stopTimes | filter: filterStopTimes"
                            ng-click="onStopTimeClick(stopTime, schedulePresentation.baseTime)">
                        <div layout="row" layout-fill>
                            <div class="route-short-name">
                                <span class="label" data-ng-style="{'color': stopTime.routeTextColor, 'background-color': stopTime.routeColor}">{{stopTime.routeShortName}}</span>
                            </div>
                            <div data-ng-class="{'row-current': stopTime.isCurrent}" flex>{{stopTime.groupHeadsign}}</div>
                            <div layout="column">
                                <div class="route-stop-time" data-ng-class="{'row-current': stopTime.isCurrent}">{{stopTime.stopTimeString}}</div>
                                <div class="md-caption route-stop-time-countdown" data-ng-class="{'row-current': stopTime.isCurrent}" hide-gt-sm>
                                    <span data-gyf-countdown data-base-time='schedulePresentation.baseTime' data-target-time='stopTime.stopTime' data-ng-if="stopTime.isCurrent || stopTime.isSubsequent"></span>
                                </div>
                            </div>
                            <div layout="column" hide-sm>
                                <div class="md-caption route-stop-time-countdown" data-ng-class="{'row-current': stopTime.isCurrent}">
                                    <span data-gyf-countdown data-base-time='schedulePresentation.baseTime' data-target-time='stopTime.stopTime' data-ng-if="stopTime.isCurrent || stopTime.isSubsequent"></span>
                                </div>
                            </div>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                    <md-list-item data-ng-if="schedulePresentation.visibleStopTimeUpperIndex < (schedulePresentation.stopTimes.length - 1)" ng-click="onStopTimeMoreNewerClick()">
                        <div layout="row" layout-align="center center" layout-fill>
                            <md-icon class="material-icons">expand_more</md-icon>
                        </div>
                    </md-list-item>
                </md-list>
            </div>

        </md-whiteframe>

    </md-content>

</md-content>
