
<!-- Toolbar -->
<div class="panel panel-default">

    <!-- For Timetable Build -->
    <div class="panel-heading" data-ng-if="isBuilding && (timetablePresentation == undefined)">
        <h4 class="panel-title">Building timetable...</h4>
    </div>

    <!-- For Timetable Show -->
    <div class="panel-heading" data-ng-if="timetablePresentation != undefined">
        <div class="row">
            <div class="col-sm-6 col-xs-12" style="margin-top: 5px; margin-bottom: 5px;">
                <input type="text" class="form-control" size="40" readonly value="{{geoPosition.formattedAddress}}">
            </div>
            <div class="col-sm-2 col-xs-4" style="margin-top: 5px; margin-bottom: 5px;">
                <span class="btn-group">
                    <button type="button" class="btn btn-default" data-ng-click="onLocationRefreshClick(LOCATION_MODE.AUTO)">
                        <span class="glyphicon glyphicon-screenshot"></span>
                    </button>
                    <button type="button" class="btn btn-default" data-ng-click="onLocationRefreshClick(LOCATION_MODE.LIST)">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                    <button type="button" class="btn btn-default" data-ng-click="onLocationRefreshClick(LOCATION_MODE.MAP)">
                        <span class="glyphicon glyphicon-picture"></span>
                    </button>
                </span>
            </div>
            <div class="col-sm-2 col-xs-4" style="margin-top: 5px; margin-bottom: 5px;">

                <div dropdown is-open="baseTimeDropdown.isOpen" auto-close="outsideClick">

                    <div class="btn-group">
                        <button
                            type="button"
                            class="btn btn-lg"
                            data-ng-class="{'btn-info': timetablePresentation.baseTime == undefined, 'btn-warning': timetablePresentation.baseTime != undefined}"
                            data-ng-click="onBaseTimeEditClick($event)">

                            <span data-ng-if="timetablePresentation.baseTime == undefined" data-gyf-countdown></span>
                            <span data-ng-if="timetablePresentation.baseTime != undefined">{{timetablePresentation.baseTime | date: 'H:mm:ss'}}</span>
                        </button>
                        <button type="button" class="btn btn-lg btn-default" data-ng-if="timetablePresentation.baseTime != undefined" data-ng-click="onBaseTimeResetClick(geoPosition)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>

                    <div class="dropdown-menu">
                        <div style="margin: 10px">
                            <table>
                                <tbody>
                                <tr>
                                    <td style="padding-right: 10px">
                                        <timepicker
                                                ng-model="baseTimeDropdown.editedBaseTime"
                                                ng-change="onBaseTimeEditChange(baseTimeDropdown.editedBaseTime)"
                                                hour-step="baseTimeDropdown.timePickerOptions.hourStep"
                                                minute-step="baseTimeDropdown.timePickerOptions.minuteStep"
                                                show-meridian="baseTimeDropdown.timePickerOptions.showMeridian"
                                                min="baseTimeDropdown.timePickerOptions.min">
                                        </timepicker>
                                    </td>
                                    <td style="padding-right: 5px">
                                        <button type="button" class="btn btn-warning" data-ng-click="onBaseTimeEditCancel()">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info" data-ng-click="onBaseTimeEditOk(geoPosition, baseTimeDropdown.editedBaseTime)">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-sm-2 col-xs-4" style="margin-top: 5px; margin-bottom: 5px;">
                <span class="pull-right">
                    <span data-gyf-countdown data-source-time='timetablePresentation.buildTime'></span>
                    <button type="button" class="btn btn-default" data-ng-click="onTimetableRefreshClick()">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>

</div>

<!-- Timetable -->
<accordion close-others="true" data-ng-if="timetablePresentation != undefined">
    <accordion-group is-open="parentStation.isExpanded" data-ng-repeat="parentStation in timetablePresentation.parentStations">
        <accordion-heading>
            <div class="row">
                <div class="col-xs-10 text-center">
                    <span>{{parentStation.name}}</span>
                    <span data-ng-if="!parentStation.isExpanded" data-ng-repeat="routeName in parentStation.routeNames">
                        <span class="label label-default" data-ng-style="{'color': parentStation.routeTextColors[$index], 'background-color': parentStation.routeColors[$index]}">{{routeName}}</span>&nbsp;
                    </span>
                </div>
                <div class="col-xs-2">
                    <div class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': parentStation.isExpanded, 'glyphicon-chevron-right': !parentStation.isExpanded}"></div>
                </div>
            </div>
        </accordion-heading>
        <table class="table table-condensed">
            <tbody>
            <tr data-ng-repeat="routeGroup in parentStation.routeGroups">
                <td>

                    <!-- Collapsed -->
                    <div collapse="routeGroup.isGroup && routeGroup.isExpanded">

                        <!-- Header -->
                        <div class="row-header" data-ng-class="{'link': routeGroup.isGroup}" data-ng-click="onRouteGroupHeaderClick($event, routeGroup)">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-6">
                                            <h3 class="no-margin text-left">
                                            <span data-ng-repeat="name in routeGroup.names track by $index">
                                                <span class="label label-default" data-ng-style="{'color': routeGroup.textColors[$index], 'background-color': routeGroup.colors[$index]}">{{name}}</span>&nbsp;
                                            </span>
                                            </h3>
                                        </div>
                                        <div class="col-sm-2 col-sm-push-8 col-xs-6">
                                            <div class="pull-right glyphicon glyphicon-chevron-right" data-ng-if="routeGroup.isGroup && !routeGroup.isExpanded"></div>
                                        </div>
                                        <div class="col-sm-8 col-sm-pull-2 col-xs-12">
                                            <h5 class="no-margin text-center">
                                                <div data-ng-repeat="description in routeGroup.descriptions track by $index">{{description}}</div>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="row-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="link" data-ng-if="routeGroup.tripLeft != undefined" data-ng-click="onTripClick(routeGroup.tripLeft, routeGroup.routes, timetablePresentation.baseTime)">
                                        <h5 class="no-margin text-center">
                                            <span class="label label-default" data-ng-if="routeGroup.isGroup">{{routeGroup.tripLeft.routeName}}</span>
                                            <span><strong>{{routeGroup.tripLeft.name}}</strong></span>
                                            <button type="button" class="btn btn-default" data-ng-click="onStopLocationClick(routeGroup.tripLeft)">
                                                <span class="glyphicon glyphicon-flag"></span>
                                            </button>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="link" data-ng-if="routeGroup.tripRight != undefined" data-ng-click="onTripClick(routeGroup.tripRight, routeGroup.routes, timetablePresentation.baseTime)">
                                        <h5 class="no-margin text-center">
                                            <span class="label label-default" data-ng-if="routeGroup.isGroup">{{routeGroup.tripRight.routeName}}</span>
                                            <span><strong>{{routeGroup.tripRight.name}}</strong></span>
                                            <button type="button" class="btn btn-default" data-ng-click="onStopLocationClick(routeGroup.tripRight)">
                                                <span class="glyphicon glyphicon-flag"></span>
                                            </button>
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="link" data-ng-if="routeGroup.tripLeft != undefined" data-ng-click="onStopTimeClick(routeGroup.tripLeft, timetablePresentation.baseTime)">
                                        <h6 class="no-margin text-center">{{routeGroup.tripLeft.stopTimeString}}</h6>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="link" data-ng-if="routeGroup.tripRight != undefined" data-ng-click="onStopTimeClick(routeGroup.tripRight, timetablePresentation.baseTime)">
                                        <h6 class="no-margin text-center">{{routeGroup.tripRight.stopTimeString}}</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="link" data-ng-if="routeGroup.tripLeft != undefined" data-ng-click="onStopTimeClick(routeGroup.tripLeft, timetablePresentation.baseTime)">
                                        <h5 class="no-margin text-center">
                                            <strong data-gyf-countdown data-base-time='timetablePresentation.baseTime' data-target-time='routeGroup.tripLeft.stopTime'></strong>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="link" data-ng-if="routeGroup.tripRight != undefined" data-ng-click="onStopTimeClick(routeGroup.tripRight, timetablePresentation.baseTime)">
                                        <h5 class="no-margin text-center">
                                            <strong data-gyf-countdown data-base-time='timetablePresentation.baseTime' data-target-time='routeGroup.tripRight.stopTime'></strong>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Expanded -->
                    <div collapse="!routeGroup.isGroup || (routeGroup.isGroup && !routeGroup.isExpanded)">
                        <table class="table table-condensed">
                            <tbody>
                            <tr data-ng-repeat="route in routeGroup.routes">
                                <td>

                                    <!-- Header -->
                                    <div class="row-header link" data-ng-click="onRouteGroupHeaderClick($event, routeGroup)">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-sm-1 col-xs-6">
                                                        <h3 class="no-margin text-left">
                                                            <span class="label label-default" data-ng-style="{'color': route.textColor, 'background-color': route.color}">{{route.name}}</span>
                                                        </h3>
                                                    </div>
                                                    <div class="col-sm-1 col-sm-push-10 col-xs-6">
                                                        <div class="pull-right glyphicon glyphicon-chevron-down"></div>
                                                    </div>
                                                    <div class="col-sm-10 col-sm-pull-1 col-xs-12">
                                                        <h5 class="no-margin text-center">
                                                            <div>{{route.description}}</div>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Body -->
                                    <div class="row-body">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="link" data-ng-if="route.tripLeft != undefined" data-ng-click="onTripClick(route.tripLeft, route, timetablePresentation.baseTime)">
                                                    <h5 class="no-margin text-center">
                                                        <strong>{{route.tripLeft.name}}</strong>
                                                        <button type="button" class="btn btn-default" data-ng-click="onStopLocationClick(routeGroup.tripLeft)">
                                                            <span class="glyphicon glyphicon-flag"></span>
                                                        </button>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="link" data-ng-if="route.tripRight != undefined" data-ng-click="onTripClick(route.tripRight, route, timetablePresentation.baseTime)">
                                                    <h5 class="no-margin text-center">
                                                        <strong>{{route.tripRight.name}}</strong>
                                                        <button type="button" class="btn btn-default" data-ng-click="onStopLocationClick(routeGroup.tripRight)">
                                                            <span class="glyphicon glyphicon-flag"></span>
                                                        </button>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="link" data-ng-if="route.tripLeft != undefined" data-ng-click="onStopTimeClick(route.tripLeft, timetablePresentation.baseTime)">
                                                    <h6 class="no-margin text-center">{{route.tripLeft.stopTimeString}}</h6>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="link" data-ng-if="route.tripRight != undefined" data-ng-click="onStopTimeClick(route.tripRight, timetablePresentation.baseTime)">
                                                    <h6 class="no-margin text-center">{{route.tripRight.stopTimeString}}</h6>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="link" data-ng-if="route.tripLeft != undefined" data-ng-click="onStopTimeClick(route.tripLeft, timetablePresentation.baseTime)">
                                                    <h5 class="no-margin text-center">
                                                        <strong data-gyf-countdown data-base-time='timetablePresentation.baseTime' data-target-time='route.tripLeft.stopTime'></strong>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="link" data-ng-if="route.tripRight != undefined" data-ng-click="onStopTimeClick(route.tripRight, timetablePresentation.baseTime)">
                                                    <h5 class="no-margin text-center">
                                                        <strong data-gyf-countdown data-base-time='timetablePresentation.baseTime' data-target-time='route.tripRight.stopTime'></strong>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </accordion-group>
</accordion>
