
<!-- Progress -->
<div layout="column" layout-fill layout-align="center center" data-ng-if="isBuilding && (timetablePresentation == undefined)">
    <div>
        <h5 class="md-title">Building timetable</h5>
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
</div>

<!-- Toolbar -->
<md-toolbar data-ng-if="timetablePresentation != undefined">
    <div class="md-toolbar-tools">
        <span>Timetable</span>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Detect location" data-ng-click="onLocationRefreshClick(LOCATION_MODE.AUTO)">
            <md-icon class="material-icons">my_location</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Recent locations" data-ng-click="onLocationRefreshClick(LOCATION_MODE.LIST)">
            <md-icon class="material-icons">list</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Show on map" data-ng-click="onLocationRefreshClick(LOCATION_MODE.MAP)">
            <md-icon class="material-icons">map</md-icon>
        </md-button>
    </div>
</md-toolbar>

<!-- Timetable -->
<md-content layout="column" layout-fill data-ng-if="timetablePresentation != undefined">

    <md-whiteframe class="md-whiteframe-1dp md-body-1" layout="row" layout-align="start center" layout-wrap flex>

        <!-- Address -->
        <div layout="row" layout-align="start center" flex-sm="100" flex-gt-sm="50">
            <md-icon class="material-icons">place</md-icon>
            <span class="nowrap-ellipsis" flex>{{geoPosition.formattedAddress}}</span>
        </div>

        <!-- Base time -->
        <div layout="row" layout-align="center center">
            <div uib-dropdown is-open="baseTimeDropdown.isOpen" auto-close="outsideClick">
                <md-button
                        class="md-raised compact"
                        aria-label="Base time"
                        data-ng-class="{'md-primary': timetablePresentation.baseTimeType == TIMETABLE.BASE_TIME_TYPE_FUTURE, 'md-warn': timetablePresentation.baseTimeType == TIMETABLE.BASE_TIME_TYPE_PAST}"
                        data-ng-click="onBaseTimeEditClick($event)">
                    <span data-ng-if="timetablePresentation.baseTime == undefined" data-gyf-countdown></span>
                    <span data-ng-if="timetablePresentation.baseTime != undefined">{{timetablePresentation.baseTime | date: 'mediumTime'}}</span>
                </md-button>
                <md-button class="md-icon-button compact" aria-label="Reset" data-ng-if="timetablePresentation.baseTime != undefined" data-ng-click="onBaseTimeResetClick(geoPosition)">
                    <md-icon class="material-icons">clear</md-icon>
                </md-button>
                <div class="uib-dropdown-menu">
                    <md-whiteframe class="md-whiteframe-2dp" layout="row" layout-align="start center">
                        <!-- Should be replaced a Material implementation -->
                        <uib-timepicker
                                ng-model="baseTimeDropdown.editedBaseTime"
                                ng-change="onBaseTimeEditChange(baseTimeDropdown.editedBaseTime)"
                                hour-step="baseTimeDropdown.timePickerOptions.hourStep"
                                minute-step="baseTimeDropdown.timePickerOptions.minuteStep"
                                show-meridian="baseTimeDropdown.timePickerOptions.showMeridian"
                                min="baseTimeDropdown.timePickerOptions.min">
                        </uib-timepicker>
                        <md-button class="md-icon-button compact md-warn" aria-label="Cancel" data-ng-click="onBaseTimeEditCancel()">
                            <md-icon class="material-icons">clear</md-icon>
                        </md-button>
                        <md-button class="md-icon-button compact md-primary" aria-label="Ok" data-ng-click="onBaseTimeEditOk(geoPosition, baseTimeDropdown.editedBaseTime)">
                            <md-icon class="material-icons">done</md-icon>
                        </md-button>
                    </md-whiteframe>
                </div>
            </div>
        </div>

        <!-- Spacer -->
        <div flex></div>

        <!-- Refresh -->
        <div>
            <span data-gyf-countdown data-source-time='timetablePresentation.buildTime'></span>
            <md-button class="md-icon-button compact" aria-label="Refresh" data-ng-click="onTimetableRefreshClick()">
                <md-icon class="material-icons">refresh</md-icon>
            </md-button>
        </div>

    </md-whiteframe>

    <uib-accordion close-others="true" template-url="components/angular-ui/bootstrap/template/accordion/accordion.html">
        <uib-accordion-group is-open="parentStation.isExpanded" template-url="components/angular-ui/bootstrap/template/accordion/accordion-group.html" data-ng-repeat="parentStation in timetablePresentation.parentStations">

            <!-- Heading -->
            <uib-accordion-heading>
                <div class="whiteframe-heading" layout="row">
                    <div layout="column" flex>
                        <div flex></div>
                        <div class="md-title">{{parentStation.name}}</div>
                        <div class="md-body-1" layout="row" layout-align="start start" layout-wrap data-ng-if="!parentStation.isExpanded">
                            <span class="label label-default label-route"
                                 data-ng-style="{'color': parentStation.routeTextColors[$index], 'background-color': parentStation.routeColors[$index]}"
                                 data-ng-repeat="routeName in parentStation.routeNames">{{routeName}}</span>
                        </div>
                    </div>
                    <div layout="column" layout-align="start end">
                        <md-icon class="material-icons md-48 md-color-inherit whiteframe-heading-icon" hide-sm>directions</md-icon>
                        <div flex></div>
                        <md-button class="md-icon-button" aria-label="Expand">
                            <md-icon class="material-icons md-color-inherit" data-ng-if="!parentStation.isExpanded">expand_more</md-icon>
                            <md-icon class="material-icons md-color-inherit" data-ng-if="parentStation.isExpanded">expand_less</md-icon>
                        </md-button>
                    </div>
                </div>
            </uib-accordion-heading>

            <!-- Body -->
            <div class="whiteframe-body" layout="column">
                <div class="route-group md-body-1" data-ng-repeat="routeGroup in parentStation.routeGroups">

                    <!-- Collapsed -->
                    <div uib-collapse="routeGroup.isGroup && routeGroup.isExpanded">
                        <div layout="column">
                            <div class="route-group-header" layout="row" layout-align="start center">
                                <div flex>
                                    <table>
                                        <tbody>
                                            <tr data-ng-repeat="name in routeGroup.names track by $index">
                                                <td>
                                                    <div class="label label-default label-route"
                                                         data-ng-style="{'color': routeGroup.textColors[$index], 'background-color': routeGroup.colors[$index]}">{{name}}</div>
                                                </td>
                                                <td>
                                                    <div>{{routeGroup.descriptions[$index]}}</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div data-ng-if="routeGroup.isGroup">
                                    <md-button class="md-icon-button compact" aria-label="Split" data-ng-click="onRouteGroupHeaderClick($event, routeGroup)">
                                        <md-icon class="material-icons">import_export</md-icon>
                                    </md-button>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div class="route-group-body" layout="row" layout-align="center start">
                                <div flex-sm="95" flex-gt-sm="80">
                                    <table>
                                        <tbody>
                                        <tr hide-gt-sm>
                                            <td>
                                                <span class="label label-default label-route" data-ng-if="(routeGroup.tripLeft != undefined) && routeGroup.isGroup">{{routeGroup.tripLeft.routeName}}</span>
                                            </td>
                                            <td>
                                                <span class="label label-default label-route" data-ng-if="(routeGroup.tripRight != undefined) && routeGroup.isGroup">{{routeGroup.tripRight.routeName}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div data-ng-if="routeGroup.tripLeft != undefined">
                                                    <span class="label label-default label-route" data-ng-if="routeGroup.isGroup" hide-sm>{{routeGroup.tripLeft.routeName}}</span>
                                                    <span class="md-body-2">{{routeGroup.tripLeft.name}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div data-ng-if="routeGroup.tripRight != undefined">
                                                    <span class="label label-default label-route" data-ng-if="routeGroup.isGroup" hide-sm>{{routeGroup.tripRight.routeName}}</span>
                                                    <span class="md-body-2">{{routeGroup.tripRight.name}}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div data-ng-if="routeGroup.tripLeft != undefined">
                                                    <span>{{routeGroup.tripLeft.stopTimeString}}</span>
                                                    <span class="md-caption" data-gyf-countdown data-base-time='timetablePresentation.baseTime' data-target-time='routeGroup.tripLeft.stopTime' hide-sm></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div data-ng-if="routeGroup.tripRight != undefined">
                                                    <span>{{routeGroup.tripRight.stopTimeString}}</span>
                                                    <span class="md-caption" data-gyf-countdown data-base-time='timetablePresentation.baseTime' data-target-time='routeGroup.tripRight.stopTime' hide-sm></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr hide-gt-sm>
                                            <td>
                                                <span class="md-caption" data-gyf-countdown data-base-time='timetablePresentation.baseTime' data-target-time='routeGroup.tripLeft.stopTime' data-ng-if="routeGroup.tripLeft != undefined"></span>
                                            </td>
                                            <td>
                                                <span class="md-caption" data-gyf-countdown data-base-time='timetablePresentation.baseTime' data-target-time='routeGroup.tripRight.stopTime' data-ng-if="routeGroup.tripRight != undefined"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div data-ng-if="routeGroup.tripLeft != undefined">
                                                    <md-button class="md-icon-button compact" aria-label="Show on map" data-ng-click="onStopLocationClick(routeGroup.tripLeft)">
                                                        <md-icon class="material-icons">pin_drop</md-icon>
                                                    </md-button>
                                                    <md-button class="md-icon-button compact" aria-label="Trip" data-ng-click="onTripClick(routeGroup.tripLeft, routeGroup.routes, timetablePresentation.baseTime)">
                                                        <md-icon class="material-icons">schedule</md-icon>
                                                    </md-button>
                                                    <md-button class="md-icon-button compact" aria-label="Schedule" data-ng-click="onStopTimeClick(routeGroup.tripLeft, timetablePresentation.baseTime)">
                                                        <md-icon class="material-icons">directions_transit</md-icon>
                                                    </md-button>
                                                </div>
                                            </td>
                                            <td>
                                                <div data-ng-if="routeGroup.tripRight != undefined">
                                                    <md-button class="md-icon-button compact" aria-label="Show on map" data-ng-click="onStopLocationClick(routeGroup.tripRight)">
                                                        <md-icon class="material-icons">pin_drop</md-icon>
                                                    </md-button>
                                                    <md-button class="md-icon-button compact" aria-label="Trip" data-ng-click="onTripClick(routeGroup.tripRight, routeGroup.routes, timetablePresentation.baseTime)">
                                                        <md-icon class="material-icons">schedule</md-icon>
                                                    </md-button>
                                                    <md-button class="md-icon-button compact" aria-label="Schedule" data-ng-click="onStopTimeClick(routeGroup.tripRight, timetablePresentation.baseTime)">
                                                        <md-icon class="material-icons">directions_transit</md-icon>
                                                    </md-button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Expanded -->
                    <div uib-collapse="!routeGroup.isGroup || (routeGroup.isGroup && !routeGroup.isExpanded)">
                        <div layout="column">
                            <div data-ng-repeat="route in routeGroup.routes">
                                <div layout="column">
                                    <div class="route-group-header" layout="row" layout-align="start center">
                                        <div flex>
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="label label-default label-route"
                                                             data-ng-style="{'color': route.textColor, 'background-color': route.color}">{{route.name}}</div>
                                                    </td>
                                                    <td>
                                                        <div>{{route.description}}</div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div data-ng-if="routeGroup.isGroup">
                                            <md-button class="md-icon-button compact" aria-label="Group" data-ng-click="onRouteGroupHeaderClick($event, routeGroup)">
                                                <md-icon class="material-icons">vertical_align_center</md-icon>
                                            </md-button>
                                        </div>
                                    </div>
                                    <md-divider></md-divider>
                                    <div class="route-group-body" layout="row" layout-align="center start">
                                        <div flex-sm="95" flex-gt-sm="80">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <div data-ng-if="route.tripLeft != undefined">
                                                            <span class="md-body-2">{{route.tripLeft.name}}</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div data-ng-if="route.tripRight != undefined">
                                                            <span class="md-body-2">{{route.tripRight.name}}</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div data-ng-if="route.tripLeft != undefined">
                                                            <span>{{route.tripLeft.stopTimeString}}</span>
                                                            <span class="md-caption" data-gyf-countdown data-base-time='timetablePresentation.baseTime' data-target-time='route.tripLeft.stopTime' hide-sm></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div data-ng-if="route.tripRight != undefined">
                                                            <span>{{route.tripRight.stopTimeString}}</span>
                                                            <span class="md-caption" data-gyf-countdown data-base-time='timetablePresentation.baseTime' data-target-time='route.tripRight.stopTime' hide-sm></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr hide-gt-sm>
                                                    <td>
                                                        <span class="md-caption" data-gyf-countdown data-base-time='timetablePresentation.baseTime' data-target-time='route.tripLeft.stopTime' data-ng-if="route.tripLeft != undefined"></span>
                                                    </td>
                                                    <td>
                                                        <span class="md-caption" data-gyf-countdown data-base-time='timetablePresentation.baseTime' data-target-time='route.tripRight.stopTime' data-ng-if="route.tripRight != undefined"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div data-ng-if="route.tripLeft != undefined">
                                                            <md-button class="md-icon-button compact" aria-label="Show on map" data-ng-click="onStopLocationClick(routeGroup.tripLeft)">
                                                                <md-icon class="material-icons">pin_drop</md-icon>
                                                            </md-button>
                                                            <md-button class="md-icon-button compact" aria-label="Trip" data-ng-click="onTripClick(route.tripLeft, route, timetablePresentation.baseTime)">
                                                                <md-icon class="material-icons">schedule</md-icon>
                                                            </md-button>
                                                            <md-button class="md-icon-button compact" aria-label="Schedule" data-ng-click="onStopTimeClick(route.tripLeft, timetablePresentation.baseTime)">
                                                                <md-icon class="material-icons">directions_transit</md-icon>
                                                            </md-button>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div data-ng-if="route.tripRight != undefined">
                                                            <md-button class="md-icon-button compact" aria-label="Show on map" data-ng-click="onStopLocationClick(routeGroup.tripRight)">
                                                                <md-icon class="material-icons">pin_drop</md-icon>
                                                            </md-button>
                                                            <md-button class="md-icon-button compact" aria-label="Trip" data-ng-click="onTripClick(route.tripRight, route, timetablePresentation.baseTime)">
                                                                <md-icon class="material-icons">schedule</md-icon>
                                                            </md-button>
                                                            <md-button class="md-icon-button compact" aria-label="Schedule" data-ng-click="onStopTimeClick(route.tripRight, timetablePresentation.baseTime)">
                                                                <md-icon class="material-icons">directions_transit</md-icon>
                                                            </md-button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </uib-accordion-group>
    </uib-accordion>

</md-content>
