
<!-- Progress -->
<div layout="column" layout-fill layout-align="center center" data-ng-if="isBuilding && (mapPresentation == undefined)" data-ng-cloak>
    <div>
        <h5 class="md-title">Building map</h5>
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
</div>

<div layout="column" layout-fill data-ng-if="mapPresentation != undefined" data-ng-cloak>

    <!-- Map -->
    <md-content class="md-body-1" layout="column" flex>

        <!-- Top floating toolbar -->
        <div class="floating-toolbar top" layout="row" layout-align="start center">

            <!-- Trip Bar -->
            <md-whiteframe class="md-whiteframe-1dp md-subhead" layout="row" layout-align="start center">
                <span class="label" data-ng-style="{'color': mapPresentation.trip.routeTextColor, 'background-color': mapPresentation.trip.routeColor}">{{mapPresentation.trip.routeName}}</span>&nbsp;
                <span>{{mapPresentation.trip.tripHeadsign}}</span>
            </md-whiteframe>

            <!-- Spacer -->
            <div flex hide-sm></div>

            <!-- Base time bar -->
            <md-whiteframe class="md-whiteframe-1dp md-subhead" layout="row" layout-align="start center" hide-sm>
                <md-button
                        class="compact"
                        md-no-ink
                        aria-label="Base time"
                        data-ng-class="{'md-primary': mapPresentation.baseTimeType == TIMETABLE.BASE_TIME_TYPE_FUTURE, 'md-warn': mapPresentation.baseTimeType == TIMETABLE.BASE_TIME_TYPE_PAST}">
                    <span class="md-subhead" data-ng-if="mapPresentation.baseTime == undefined" data-gyf-countdown></span>
                    <span class="md-subhead" data-ng-if="mapPresentation.baseTime != undefined">{{mapPresentation.baseTime | date: 'mediumTime'}}</span>
                </md-button>
            </md-whiteframe>

            <!-- Refresh bar -->
            <md-whiteframe class="md-whiteframe-1dp md-subhead" layout="row" layout-align="start center" hide-sm>
                <span data-gyf-countdown data-source-time='mapPresentation.buildTime'></span>
                <md-button class="md-icon-button compact" aria-label="Refresh" data-ng-click="onMapRefreshClick()">
                    <md-icon class="material-icons">refresh</md-icon>
                </md-button>
            </md-whiteframe>

        </div>

        <!-- Bottom floating toolbar -->
        <div class="floating-toolbar bottom-left" layout="row" layout-align="start center" hide-gt-sm>

            <!-- Base time bar -->
            <md-whiteframe class="md-whiteframe-1dp md-subhead" layout="row" layout-align="start center">
                <md-button
                        class="compact"
                        md-no-ink
                        aria-label="Base time"
                        data-ng-class="{'md-primary': mapPresentation.baseTimeType == TIMETABLE.BASE_TIME_TYPE_FUTURE, 'md-warn': mapPresentation.baseTimeType == TIMETABLE.BASE_TIME_TYPE_PAST}">
                    <span class="md-subhead" data-ng-if="mapPresentation.baseTime == undefined" data-gyf-countdown></span>
                    <span class="md-subhead" data-ng-if="mapPresentation.baseTime != undefined">{{mapPresentation.baseTime | date: 'mediumTime'}}</span>
                </md-button>
            </md-whiteframe>

            <!-- Refresh bar -->
            <md-whiteframe class="md-whiteframe-1dp md-subhead" layout="row" layout-align="start center">
                <span data-gyf-countdown data-source-time='mapPresentation.buildTime'></span>
                <md-button class="md-icon-button compact" aria-label="Refresh" data-ng-click="onMapRefreshClick()">
                    <md-icon class="material-icons">refresh</md-icon>
                </md-button>
            </md-whiteframe>

        </div>

        <div id="map_canvas" data-gyf-recompile data-accessor="recompileAccessor" flex>
            <ui-gmap-google-map
                    center="mapPresentation.map.center"
                    pan="mapPresentation.map.pan"
                    zoom="mapPresentation.map.zoom"
                    options="mapPresentation.map.options"
                    events="mapPresentation.map.events"
                    control="mapPresentation.map.control">
                <ui-gmap-polyline
                        path="mapPresentation.trip.tripPolyline.path"
                        stroke="mapPresentation.trip.tripPolyline.stroke"
                        fit="mapPresentation.trip.tripPolyline.fit"
                        static="mapPresentation.trip.tripPolyline.static">
                </ui-gmap-polyline>
                <ui-gmap-markers
                        models="mapPresentation.trip.stopMarkers.models"
                        coords="mapPresentation.trip.stopMarkers.coords"
                        icon="mapPresentation.trip.stopMarkers.icon"
                        options="mapPresentation.trip.stopMarkers.options"
                        click="mapPresentation.trip.stopMarkers.click">
                </ui-gmap-markers>
                <ui-gmap-marker
                        data-ng-if="mapPresentation.trip.vehicleMarker != undefined"
                        idKey="mapPresentation.trip.vehicleMarker.idKey"
                        coords="mapPresentation.trip.vehicleMarker.coords"
                        icon="mapPresentation.trip.vehicleMarker.icon"
                        options="mapPresentation.trip.vehicleMarker.options">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>

    </md-content>

</div>

