
<!-- Progress -->
<div layout="column" layout-fill layout-align="center center" data-ng-if="isBuilding && (tripPresentation == undefined)" data-ng-cloak>
    <div>
        <h5 class="md-title">Building trip</h5>
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
</div>

<div layout="column" layout-fill data-ng-if="tripPresentation != undefined" data-ng-cloak>

    <!-- Toolbar -->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Trip</span>
            <span flex></span>
        </div>
    </md-toolbar>

    <!-- Trip -->
    <md-content layout="column">

        <md-whiteframe class="md-whiteframe-1dp md-body-1" layout="row" layout-align="start center" layout-wrap flex>

            <!-- Address -->
            <div layout="row" layout-align="start center" flex-sm="100" flex-gt-sm="50">
                <md-icon class="material-icons">place</md-icon>
                <span class="nowrap-ellipsis" flex>{{location.formattedAddress}}</span>
            </div>

            <!-- Base time -->
            <div>
                <md-button
                        class="md-raised compact"
                        md-no-ink
                        aria-label="Base time"
                        data-ng-class="{'md-primary': tripPresentation.baseTimeType == TIMETABLE.BASE_TIME_TYPE_FUTURE, 'md-warn': tripPresentation.baseTimeType == TIMETABLE.BASE_TIME_TYPE_PAST}">
                    <span data-ng-if="tripPresentation.baseTime == undefined" data-gyf-countdown></span>
                    <span data-ng-if="tripPresentation.baseTime != undefined">{{tripPresentation.baseTime | date: 'mediumTime'}}</span>
                </md-button>
            </div>

            <!-- Spacer -->
            <div flex></div>

            <!-- Refresh -->
            <div>
                <span data-gyf-countdown data-source-time='tripPresentation.buildTime'></span>
                <md-button class="md-icon-button compact" aria-label="Refresh" data-ng-click="onTripRefreshClick()">
                    <md-icon class="material-icons">refresh</md-icon>
                </md-button>
            </div>

        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-1dp no-padding" layout="column">

            <div class="whiteframe-heading" layout="row">
                <div layout="column" flex>
                    <div flex></div>
                    <div class="md-title">{{tripPresentation.tripHeadsign}}</div>
                    <div class="md-body-1" layout="row" layout-align="start start" layout-wrap>
                        <span class="label" data-ng-style="{'color': tripPresentation.routeTextColor, 'background-color': tripPresentation.routeColor}">{{tripPresentation.routeName}}</span>
                    </div>
                </div>
                <div layout="column" layout-align="start end">
                    <md-icon class="material-icons md-48 md-color-inherit whiteframe-heading-icon" hide-sm>directions</md-icon>
                    <div flex></div>
                    <md-button class="md-icon-button" aria-label="Show on map" data-ng-click="onHeaderClick(tripId, stopId, tripPresentation.baseTime)">
                        <md-icon class="material-icons md-color-inherit">map</md-icon>
                    </md-button>
                </div>
            </div>

            <div class="whiteframe-body md-body-1" layout="column">
                <md-list>
                    <md-list-item
                            data-ng-class="{'row-past': (stopTime.stopTime < tripPresentation.buildTime)}"
                            data-ng-attr-id="{{stopTime.isCurrent ? 'currentStopTime' : undefined}}"
                            ng-repeat="stopTime in tripPresentation.stopTimes"
                            ng-click="onStopClick(stopTime, tripPresentation.baseTime)">

                        <div class="md-body-1" layout="column" layout-fill>
                            <div layout="row" layout-align="start center" layout-fill>
                                <div class="trip-stop-time-diff" data-ng-class="{'row-current': stopTime.isCurrent}">{{stopTime.stopTimeDiff}}</div>
                                <div data-ng-class="{'row-current': stopTime.isCurrent}" flex>{{stopTime.stopName}}</div>
                                <div class="md-caption trip-vehicle" data-ng-class="{'row-current': stopTime.isCurrent}" layout="column" data-ng-if="stopTime.vehicle != undefined" hide-sm>
                                    <div>
                                        <md-icon class="material-icons md-18 md-color-inherit">directions_transit</md-icon>
                                        <span data-gyf-countdown data-source-time='stopTime.vehicle.lastUpdateTime'></span>
                                    </div>
                                    <div>{{stopTime.vehicle.status}}</div>
                                </div>
                                <div layout="column">
                                    <div class="trip-stop-time" data-ng-class="{'row-current': stopTime.isCurrent}">{{stopTime.stopTimeString}}</div>
                                    <div class="md-caption trip-stop-time-countdown" data-ng-class="{'row-current': stopTime.isCurrent}" hide-gt-sm>
                                        <span data-gyf-countdown data-base-time='tripPresentation.baseTime' data-target-time='stopTime.stopTime' data-ng-if="stopTime.isCurrent || stopTime.isSubsequent"></span>
                                    </div>
                                </div>
                                <div class="md-caption trip-stop-time-countdown" data-ng-class="{'row-current': stopTime.isCurrent}" hide-sm>
                                    <span data-gyf-countdown data-base-time='tripPresentation.baseTime' data-target-time='stopTime.stopTime' data-ng-if="stopTime.isCurrent || stopTime.isSubsequent"></span>
                                </div>
                            </div>
                            <div class="md-caption trip-vehicle" data-ng-class="{'row-current': stopTime.isCurrent}" layout="row" layout-align="center center" data-ng-if="stopTime.vehicle != undefined" hide-gt-sm>
                                <div>
                                    <md-icon class="material-icons md-18 md-color-inherit">directions_transit</md-icon>
                                    <span data-gyf-countdown data-source-time='stopTime.vehicle.lastUpdateTime'></span>&nbsp;
                                    <span>{{stopTime.vehicle.status}}</span>
                                </div>
                            </div>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </div>

        </md-whiteframe>

    </md-content>

</div>
